.table_container {
	width: 50%;
	margin: 0 auto;
}
#topic_container {
	width: 50%;
}

.topics {
	width: 50%;
	margin: 0 auto;
}
.single_post_container{
	background-color:red;
}

.replies {
	margin-left: 15px;
}

.answer_owner{
	font-weight: bold;
}

.post-heading {
	text-align: center;
}

.the_answers {
	text-align: left; 
	margin-left: 30px;
}

.form-group {
	width: 40%;
	margin: 0 auto;
}

.text_answer {
	width: 60%;
	margin: 0 auto;
}

#submit_answer {
	width: 30%;
	margin-top: 20px;
	margin-left: 67% ;
}