.table_container {
	width: 50%;
	margin: 0 auto;
}
#topic_container {
	width: 50%;
}

.topics {
	width: 50%;
	margin: 0 auto;
}
.single_post_container{
	background-color:red;
}

.replies {
	margin-left: 15px;
}