
      <header class="intro-header" style="background-image: url('content/img/paradise.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading" style='text-align: center'>
                    <!-- Restyle to show questions and answers -->
                        <h1 style='color: rgb(102, 255, 153)'> {{vm.singlePost.topic}}</h1>
                        <h3 class="subheading">{{vm.singlePost.description}} </h3>
                        <h3 class='category'>Category: {{vm.singlePost.category}}</h3>
                        <div class='posted_by' style='marign-top: 30px'><span class="meta">Posted by: {{vm.singlePost.owner}} <a href="#"> </a> on August 24, 2014</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
   <article>
                <!-- Set margin left to percentage -->
    <div class='article_container' style='text-align: center;'>
        <button class ='btn btn-primary' id='show_answer_question'>Answer Question</button>
        <div class="form-group" id='show_answer_form' ng-show='vm.show_answer' ng-init='vm.show_answer = true'>
            <label for="comment">Answer:</label>
             <textarea class="form-control" rows="5" id="comment" ng-model='vm.newAnswer.answer'></textarea>
             <button class='btn btn-success' style='font-size: 10px;' id='submit_answer' ng-click='vm.Answer()'>Submit</button>
        </div>
        <div class='heading'>
            <h1 class='section-heading'>Answers</h1>
            <div class='answers' ng-repeat ='answer in vm.answers track by $index' id='repeat_answers'>
                <p class='the_answers'><strong>{{answer._owner}}</strong>: {{answer.answer}}</p>
                    <div id = "reply"> 
                        <button class='glyphicon glyphicon-menu-down'>Reply</button>
                        <button class='glyphicon glyphicon-menu-down'>Show</button>
                        <form class="form-inline">
                              <div class="form-group">
                                <input type="text" class="form-control" ng-model='vm.newComment[$index]'>
                              </div>
                              <button class="btn btn-default" ng-click='vm.Comment(answer._id, $index)'>Comment</button>
                            </form>
                        <div class='show_comments' ng-repeat = 'comment in answer.comments'>
                            <ul>
                                <li><strong>{{comment._owner}}: </strong>{{comment.comment}}</li>
                            </ul>
                        </div>
                  </div>
            </div>
        </div>
    </div>
   </article>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>