
      <header class="intro-header" style="background-image: url('content/img/paradise.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading" style='text-align: center'>
                    <!-- Restyle to show questions and answers -->
                        <h1 style='color: rgb(102, 255, 153)'> {{vm.singlePost.topic}}</h1>
                        <h3 class="subheading">{{vm.singlePost.description}} </h3>
                        <h3 class='category'>Category: {{vm.singlePost.category}}</h3>
                        <div class='posted_by' style='marign-top: 30px'><span class="meta">Posted by: {{vm.singlePost.owner}} <a href="#"> </a> on August 24, 2014</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
   <article>
                <!-- Set margin left to percentage -->
    <div class='article_container' style='text-align: center;'>
        <button class ='btn btn-primary' id='show_answer_question' ng-click='vm.show_answer_form()'>Answer Question</button>
        <div class="form-group" id='show_answer_form' ng-show='vm.show_answer' ng-init='vm.show_answer = false'>
            <label for="comment">Answer:</label>
             <textarea class="form-control" rows="5" id="comment" ng-model='vm.newAnswer.answer'></textarea>
             <button class='btn btn-success' style='font-size: 10px; margin-top: 10px' id='submit_answer' ng-click='vm.Answer()'>Submit</button>
             <button class='btn btn-link' ng-click='vm.hide_answer_form()'> Hide </button>
        </div>
<div ng-init="limit = 2">
  <foo ng-repeat="item in items | limitTo: limit as results"></foo>
</div>
<button ng-hide="results.length === items.length" 
        ng-click="limit = limit +2">show more...</button>
        <div class='heading'>
            <h1 class='section-heading' style='font-color: green'>Answers</h1>
            <div class='answers' ng-repeat ='answer in vm.answers track by $index' id='repeat_answers'>
                <p class='the_answers'><strong>{{answer._owner}}</strong>: {{answer.answer}}</p>
                        <button class='glyphicon glyphicon-menu-down'gtg ng-click='vm.show_comment_input($index)'>Reply</button>
                        <button class='glyphicon glyphicon-menu-down' ng-click='vm.show_comment_form($index)' ng-show='vm.show_button[$index]' ng-init='vm.show_button[$index] = true'>Show</button>
                        <button class='glyphicon glyphicon-menu-up' ng-click='vm.hide_comment_form($index)' ng-show='vm.hide_button[$index]' ng-init='vm.hide_button[$index] = false'>Hide</button>
                    <form class="form-inline" ng-show='vm.show_comments_input[$index]' ng-init='vm.show_comments_input[$index] = false'>
                              <div class="form-group" id='comment_input'>
                                <input type="text" class="form-control" ng-model='vm.newComment[$index]'>
                              </div>
                              <button class="btn btn-default" id = 'comment_button' ng-click='vm.Comment(answer._id, $index)'>Comment</button>
                              <button class='btn btn-link' id='hide_comment_input' ng-click='vm.hide_comment_input($index)'>Hide</button>
                            </form>
                    <div id = "reply" ng-show='vm.show_comments[$index]' ng-init='vm.show_comments[$index] = false'> 
                        <div class='show_comments' ng-repeat = 'comment in answer.comments track by $index'>
                            <ul>
                                <li class='comment_list'><strong>{{comment._owner}}: </strong>{{comment.comment}}</li>
                            </ul>
                        </div>
                  </div>
            </div>
        </div>
    </div>
   </article>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>