  <div>
  	 <header class="intro-header" style="background-image: url('content/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Question Que</h1>
                        <hr class="small">
                        <span class="subheading">Ask Questions- Find Answers</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    Hola {{vm.user}}

    <!-- Main Content -->
    <div class="container" style='width: 60%'>
        <div class="row">
			<div class="container-fluid" id='topic_container' style='margin-top: 1%'>
				<form class='topics'>
					<div ng-show='vm.post_error' ng-init='vm.post_error=false'>
						<p>User is Undefined Cannot Add Post</p>
					</div>
						<h2 style='text-align: center;'>Add A New Question </h2>
	  				<div class="form-group" style='margin-top: 5px'>
	   					 <label>Question</label>
	   						 <input type="text" class="form-control" id="topic_input" placeholder="Topic" ng-model ='vm.newPost.topic' ng-change="updateSelected" required>
	  				</div>
	 				 <div class="form-group">
	  						<label>Description</label>
	 						<textarea class="form-control" ng-model = 'vm.newPost.description' rows="3"></textarea ng-change="updateSelected">
					 </div>
					 <div class="form-group" style='width: 20% margin-top: 5%' >
	 						 <label for="sel1">Category</label>
	 						 <select class="form-control" ng-model='vm.newPost.category' ng-change="updateSelected">
	    						<option>Automotive</option>
	    						<option>Technology</option>
	   						    <option>Religion</option>
	    						<option>Finance</option>
	 						 </select>
					</div>
	 					 <button type="submit" ng-click='vm.addPost()' class="btn btn-primary" style='margin-top: 10px; float: right;'>Submit</button>
				</form>
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview" ng-repeat='post in vm.posts'>
                    <a href="/#/post/{{post._id}}">
                        <h2 class="post-title">
                        	{{post.topic}}
                        </h2> 
                        <h3 class="post-subtitle">
                        	{{post.category}}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by {{post._owner}}<a href="#/posts/{{post._id}}">{{post.owner}}</a> on September 24, 2014</p>
                </div>
                <!-- <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
                        </h2>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 18, 2014</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Science has not yet mastered prophecy
                        </h2>
                        <h3 class="post-subtitle">
                            We predict too much for the next year and yet far too little for the next ten.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Failure is not an option
                        </h2>
                        <h3 class="post-subtitle">
                            Many say exploration is part of our destiny, but it’s actually our duty to future generations.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on July 8, 2014</p>
                </div> -->
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
<!--             </div>
 -->        </div>
    </div>
    <hr>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Kyle Shin 2016</p>
                </div>
            </div>
        </div>
    </footer>
    </div>
